{% load i18n %}
{% load zinnia %}
{% load comments %}
<article id="entry-{{ object.pk }}" class="post post-{{ object.pk }}{% if object.featured %} featured{% endif %}{% block single_page %} single{% endblock %}"
         itemscope itemtype="http://schema.org/Article">
    {% block entry-header %}
        <header class="entry-header">
        </header>
    {% endblock entry-header %}

    {% block entry-body %}
        {% block entry-title %}
        <h4>
            <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark" itemprop="url">
                {{ object.title|widont }}
            </a>
        </h4>
        {% endblock entry-title %}
    <div class="entry-body content-body">
        {% block entry-lead %}
            {% if not continue_reading and object.lead %}
                <span class="entry-content clearfix" itemprop="headline">
                    {{ object.html_lead|safe }}
                </span>
            {% endif %}
        {% endblock entry-lead %}

        {% block entry-content %}
            <span class="entry-content clearfix" itemprop="articleBody">
                {{ object_content|safe }}
            </span>
        {% endblock entry-content %}
        {% block entry-image %}
            {% if object.image %}
                <div class="entry-image">
                    <input type="hidden" id="attach" value="{{ object.image.url }}">
                </div>
            {% endif %}
        {% endblock entry-image %}
        {% block entry-info %}
            {% block entry-categories %}
                {% with categories=object.categories.all %}
                    {% if categories|length %}
                        {% for category in categories %}
                            <span class="post-category">
                            <a href="{{ category.get_absolute_url }}"
                               title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                               rel="tag category" itemprop="articleSection">{{ category }}</a>
                            </span>
                            {% if not forloop.last %}、{% endif %}{% endfor %}{% endif %}
                {% endwith %}
            {% endblock entry-categories %}
            {% block entry-published %}
                <span class="post-date"><a href="#">
                <time class="published entry-date" datetime="{{ object.publication_date|date:"c" }}"
                      itemprop="datePublished">{{ object.publication_date|date:"DATE_FORMAT" }}</time></a></span>
            {% endblock entry-published %}
            {% get_comment_count for object as comment_count%}
                <span class="comments-link"><a href="#">{{ comment_count }} 评论</a></span>
            {% endblock entry-info %}

            {% block entry-tags %}
                <p class="entry-tags">
                <strong>{% trans "Tags" %}</strong> :
                <meta itemprop="keywords" content="{{ object.tags }}"/>
                {% for tag in object.tags_list %}
                    <a href="{% url 'zinnia:tag_detail' tag %}"
                       title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
                       rel="tag" itemprop="articleSection">{{ tag }}</a>
                {% empty %}
                    <span>{% trans "No tags" %}</span>
                {% endfor %}
                </p>
            {% endblock entry-tags %}
            <hr>

            <script>
function checkImg(){
var attach_id=document.getElementById('attach');
var parent_id=attach_id.parentNode;
var img_id=attach_id.value; //根据id得到值
var index= img_id.lastIndexOf("."); //得到"."在第几位
img_id=img_id.substring(index); //截断"."之前的，得到后缀
    if(img_id!=".bmp"&&img_id!=".png"&&img_id!=".gif"&&img_id!=".jpg"&&img_id!=".jpeg"){  //根据后缀，判断是否符合图片格式
        var newNode = document.createElement("a"); 
        newNode.setAttribute("href",attach_id.getAttribute("value"));
        newNode.setAttribute("class","ui blue button");
        newNode.innerHTML="下载附件";
        parent_id.appendChild(newNode);
    }else{
        var imgNode = document.createElement("img"); 
        imgNode.setAttribute("src",attach_id.getAttribute("value"));
        imgNode.setAttribute("style","width:100%;")
        parent_id.appendChild(imgNode);
    }
 }
 window.onload = checkImg;
</script>
        </div>
    {% endblock entry-body %}
</article>
